@font-face {
  font-family: "PressStart2P";
  src: url(PressStart2P-Regular.ttf) format("truetype");
}

* {
  font-family: "PressStart2P", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #00030c;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  display: inline-block;
  position: relative;
}

.battle-screen {
  background-color: #00030c;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.user-interface {
  display: none;
}

.attack-bar {
  display: flex;
  background-color: #f5f5f5;
  height: 140px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 4px solid #00030c;
}

.attack-bar__dialogue {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: white;
  padding: 12px;
  display: none;
  cursor: pointer;
}

.attack-bar__skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 66%;
}

button {
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
  font-size: 16px;
}

.attack-bar__type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34%;
  border-left: 4px solid #00030c;
}

.attack-bar__title {
  margin: 0;
  font-size: 16px;
}

/*Monster*/

.monster-infos {
  background-color: white;
  width: 250px;

  position: absolute;
  top: 50px;
  left: 50px;
  border: 4px solid #00030c;

  padding: 12px;
}

.monster-info__name {
  font-size: 16px;
  margin: 0;
}
.monster-info__health-bar {
  position: relative;
}
.monster-info__health-bar__segment--1 {
  height: 5px;
  margin-top: 7px;
  background-color: #ccc;
}
.monster-info__health-bar__segment--2 {
  height: 5px;
  background-color: green;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/*Champion*/

.champion-infos {
  background-color: white;
  width: 250px;

  position: absolute;
  top: 330px;
  right: 50px;
  border: 4px solid #00030c;

  padding: 12px;
}

.champion-info__name {
  font-size: 16px;
  margin: 0;
}
.champion-info__health-bar {
  position: relative;
}
.champion-info__health-bar__segment--1 {
  height: 5px;
  margin-top: 7px;
  background-color: #ccc;
}
.champion-info__health-bar__segment--2 {
  height: 5px;
  background-color: green;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
